<!-- wp:template-part {"slug":"header","tagName":"header","area":"uncategorized"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:group {"tagName":"section","layout":{"type":"constrained"}} -->
<section id="menu" class="wp-block-group"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Menu</h1>
<!-- /wp:heading -->

<!-- wp:group {"tagName":"section","layout":{"type":"grid","columnCount":null,"minimumColumnWidth":"19rem"}} -->
<section class="wp-block-group"><!-- wp:group {"tagName":"article","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<article class="wp-block-group"><!-- wp:image {"width":"100px","height":"100px","scale":"cover","className":"is-style-default","style":{"border":{"radius":{"topLeft":"100px","topRight":"100px","bottomLeft":"100px","bottomRight":"100px"}}}} -->
<figure class="wp-block-image is-resized has-custom-border is-style-default"><img alt="" style="border-top-left-radius:100px;border-top-right-radius:100px;border-bottom-left-radius:100px;border-bottom-right-radius:100px;object-fit:cover;width:100px;height:100px"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2 class="wp-block-heading"><a href="#breakfasts-section" data-type="internal" data-id="#breakfasts-section">Breakfast</a></h2>
<!-- /wp:heading --></article>
<!-- /wp:group -->

<!-- wp:group {"tagName":"article","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<article class="wp-block-group"><!-- wp:image {"width":"100px","height":"100px","scale":"cover","style":{"border":{"radius":{"topLeft":"100px","topRight":"100px","bottomLeft":"100px","bottomRight":"100px"}}}} -->
<figure class="wp-block-image is-resized has-custom-border"><img alt="" style="border-top-left-radius:100px;border-top-right-radius:100px;border-bottom-left-radius:100px;border-bottom-right-radius:100px;object-fit:cover;width:100px;height:100px"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2 class="wp-block-heading"><a href="#appetizers-section" data-type="internal" data-id="#appetizers-section">Appetizers</a></h2>
<!-- /wp:heading --></article>
<!-- /wp:group -->

<!-- wp:group {"tagName":"article","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<article class="wp-block-group"><!-- wp:image {"width":"100px","aspectRatio":"1","scale":"cover","style":{"border":{"radius":{"topLeft":"100px","topRight":"100px","bottomLeft":"100px","bottomRight":"100px"}}}} -->
<figure class="wp-block-image is-resized has-custom-border"><img alt="" style="border-top-left-radius:100px;border-top-right-radius:100px;border-bottom-left-radius:100px;border-bottom-right-radius:100px;aspect-ratio:1;object-fit:cover;width:100px"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2 class="wp-block-heading"><a href="#soup&amp;salads-section" data-type="internal" data-id="#soup&amp;salads-section">Soup &amp; Salad</a></h2>
<!-- /wp:heading --></article>
<!-- /wp:group -->

<!-- wp:group {"tagName":"article","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<article class="wp-block-group"><!-- wp:image {"width":"100px","aspectRatio":"1","scale":"cover","style":{"border":{"radius":{"topLeft":"100px","topRight":"100px","bottomLeft":"100px","bottomRight":"100px"}}}} -->
<figure class="wp-block-image is-resized has-custom-border"><img alt="" style="border-top-left-radius:100px;border-top-right-radius:100px;border-bottom-left-radius:100px;border-bottom-right-radius:100px;aspect-ratio:1;object-fit:cover;width:100px"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2 class="wp-block-heading"><a href="#mains-section" data-type="internal" data-id="#mains-section">Mains</a></h2>
<!-- /wp:heading --></article>
<!-- /wp:group -->

<!-- wp:group {"tagName":"article","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<article class="wp-block-group"><!-- wp:image {"width":"100px","aspectRatio":"1","scale":"cover","style":{"border":{"radius":{"topLeft":"100px","topRight":"100px","bottomLeft":"100px","bottomRight":"100px"}}}} -->
<figure class="wp-block-image is-resized has-custom-border"><img alt="" style="border-top-left-radius:100px;border-top-right-radius:100px;border-bottom-left-radius:100px;border-bottom-right-radius:100px;aspect-ratio:1;object-fit:cover;width:100px"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2 class="wp-block-heading"><a href="#handhelds-section" data-type="internal" data-id="#handhelds-section">Handhelds</a></h2>
<!-- /wp:heading --></article>
<!-- /wp:group -->

<!-- wp:group {"tagName":"article","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<article class="wp-block-group"><!-- wp:image {"width":"100px","aspectRatio":"1","scale":"cover","style":{"border":{"radius":{"topLeft":"100px","topRight":"100px","bottomLeft":"100px","bottomRight":"100px"}}}} -->
<figure class="wp-block-image is-resized has-custom-border"><img alt="" style="border-top-left-radius:100px;border-top-right-radius:100px;border-bottom-left-radius:100px;border-bottom-right-radius:100px;aspect-ratio:1;object-fit:cover;width:100px"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2 class="wp-block-heading"><a href="#pizza-section" data-type="internal" data-id="#pizza-section">10” Pizza</a></h2>
<!-- /wp:heading --></article>
<!-- /wp:group --></section>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:media-text {"mediaPosition":"right","mediaType":"image"} -->
<div class="wp-block-media-text has-media-on-the-right is-stacked-on-mobile" id="breakfasts-section"><div class="wp-block-media-text__content"><!-- wp:heading -->
<h2 class="wp-block-heading">Breakfast</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":6,"query":{"perPage":10,"pages":0,"offset":0,"postType":"menu-item","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[],"taxQuery":{"menu-category":[3]}},"tagName":"section","layout":{"type":"default"}} -->
<section class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}}} -->
<!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
<article class="wp-block-group"><!-- wp:group {"className":"menu-dotted-row","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group menu-dotted-row"><!-- wp:post-title {"level":3} /-->

<!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"price","fieldSettings":{"type":"number","key":"field_69aaf74ce8c5b"},"prefix":"$","displayLayout":"inline-block","tagName":"span"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"menu-dotted-row","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group menu-dotted-row"><!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"add-on_name","hideEmpty":true,"prefix":"With","displayLayout":"inline-block","tagName":"p"} /-->

<!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"add-on_price","hideEmpty":true,"prefix":"$","labelAsPrefix":true,"displayLayout":"inline-block","tagName":"span"} /--></div>
<!-- /wp:group --></article>
<!-- /wp:group -->
<!-- /wp:post-template --></section>
<!-- /wp:query -->

<!-- wp:paragraph -->
<p><a href="#menu" data-type="internal" data-id="#menu">&lt;-- Back to Menu</a></p>
<!-- /wp:paragraph --></div><figure class="wp-block-media-text__media"></figure></div>
<!-- /wp:media-text -->

<!-- wp:media-text {"mediaPosition":"right","mediaType":"image"} -->
<div class="wp-block-media-text has-media-on-the-right is-stacked-on-mobile" id="appetizers-section"><div class="wp-block-media-text__content"><!-- wp:heading -->
<h2 class="wp-block-heading">Appetizers</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":6,"query":{"perPage":10,"pages":0,"offset":0,"postType":"menu-item","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[],"taxQuery":{"menu-category":[4]}},"tagName":"section","layout":{"type":"default"}} -->
<section class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}}} -->
<!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
<article class="wp-block-group"><!-- wp:group {"className":"menu-dotted-row","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group menu-dotted-row"><!-- wp:post-title {"level":3} /-->

<!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"price","fieldSettings":{"type":"number","key":"field_69aaf74ce8c5b"},"prefix":"$","labelAsPrefix":true,"displayLayout":"inline-block","tagName":"span"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"menu-dotted-row","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group menu-dotted-row"><!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"add-on_name","hideEmpty":true,"prefix":"With ","displayLayout":"inline-block","tagName":"p"} /-->

<!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"add-on_price","hideEmpty":true,"prefix":"$","displayLayout":"inline-block","tagName":"span"} /--></div>
<!-- /wp:group --></article>
<!-- /wp:group -->
<!-- /wp:post-template --></section>
<!-- /wp:query -->

<!-- wp:paragraph -->
<p><a href="#menu" data-type="internal" data-id="#menu">&lt;-- Back to Menu</a></p>
<!-- /wp:paragraph --></div><figure class="wp-block-media-text__media"></figure></div>
<!-- /wp:media-text -->

<!-- wp:media-text {"mediaType":"image"} -->
<div class="wp-block-media-text is-stacked-on-mobile" id="soup&amp;salads-section"><figure class="wp-block-media-text__media"></figure><div class="wp-block-media-text__content"><!-- wp:heading -->
<h2 class="wp-block-heading">Soup &amp; Salads</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":6,"query":{"perPage":10,"pages":0,"offset":0,"postType":"menu-item","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[],"taxQuery":{"menu-category":[8]}},"tagName":"section","layout":{"type":"default"}} -->
<section class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}}} -->
<!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
<article class="wp-block-group"><!-- wp:group {"className":"menu-dotted-row","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group menu-dotted-row"><!-- wp:post-title {"level":3} /-->

<!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"price","fieldSettings":{"type":"number","key":"field_69aaf74ce8c5b"},"prefix":"$","labelAsPrefix":true,"displayLayout":"inline-block","tagName":"span"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"menu-dotted-row","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group menu-dotted-row"><!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"add-on_name","hideEmpty":true,"prefix":"With","suffix":"","displayLayout":"inline-block","tagName":"p"} /-->

<!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"add-on_price","hideEmpty":true,"prefix":"$","labelAsPrefix":true,"displayLayout":"inline-block","tagName":"span"} /--></div>
<!-- /wp:group --></article>
<!-- /wp:group -->
<!-- /wp:post-template --></section>
<!-- /wp:query -->

<!-- wp:paragraph -->
<p><a href="#menu" data-type="internal" data-id="#menu">&lt;-- Back to Menu</a></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:media-text -->

<!-- wp:media-text {"mediaType":"image"} -->
<div class="wp-block-media-text is-stacked-on-mobile" id="mains-section"><figure class="wp-block-media-text__media"></figure><div class="wp-block-media-text__content"><!-- wp:heading -->
<h2 class="wp-block-heading">Mains</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":6,"query":{"perPage":10,"pages":0,"offset":0,"postType":"menu-item","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[],"taxQuery":{"menu-category":[7]}},"tagName":"section","layout":{"type":"default"}} -->
<section class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}}} -->
<!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
<article class="wp-block-group"><!-- wp:group {"className":"menu-dotted-row","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group menu-dotted-row"><!-- wp:post-title {"level":3} /-->

<!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"price","fieldSettings":{"type":"number","key":"field_69aaf74ce8c5b"},"prefix":"$","labelAsPrefix":true,"displayLayout":"inline-block","tagName":"span"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"menu-dotted-row","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group menu-dotted-row"><!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"add-on_name","hideEmpty":true,"prefix":"With","displayLayout":"inline-block","tagName":"p"} /-->

<!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"add-on_price","hideEmpty":true,"prefix":"$","labelAsPrefix":true,"displayLayout":"inline-block","tagName":"span"} /--></div>
<!-- /wp:group --></article>
<!-- /wp:group -->
<!-- /wp:post-template --></section>
<!-- /wp:query -->

<!-- wp:paragraph -->
<p><a href="#menu" data-type="internal" data-id="#menu">&lt;-- Back to Menu</a></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:media-text -->

<!-- wp:media-text {"mediaPosition":"right","mediaType":"image"} -->
<div class="wp-block-media-text has-media-on-the-right is-stacked-on-mobile" id="handhelds-section"><div class="wp-block-media-text__content"><!-- wp:heading -->
<h2 class="wp-block-heading">Handhelds</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":6,"query":{"perPage":10,"pages":0,"offset":0,"postType":"menu-item","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[],"taxQuery":{"menu-category":[6]}},"tagName":"section","layout":{"type":"default"}} -->
<section class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}}} -->
<!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
<article class="wp-block-group"><!-- wp:group {"className":"menu-dotted-row","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group menu-dotted-row"><!-- wp:post-title {"level":3} /-->

<!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"price","fieldSettings":{"type":"number","key":"field_69aaf74ce8c5b"},"prefix":"$","labelAsPrefix":true,"displayLayout":"inline-block","tagName":"span"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"menu-dotted-row","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group menu-dotted-row"><!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"add-on_name","hideEmpty":true,"prefix":"With","displayLayout":"inline-block","tagName":"p"} /-->

<!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"add-on_price","hideEmpty":true,"prefix":"$","labelAsPrefix":true,"displayLayout":"inline-block","tagName":"span"} /--></div>
<!-- /wp:group --></article>
<!-- /wp:group -->
<!-- /wp:post-template --></section>
<!-- /wp:query -->

<!-- wp:paragraph -->
<p><a href="#menu" data-type="internal" data-id="#menu">&lt;-- Back to Menu</a></p>
<!-- /wp:paragraph --></div><figure class="wp-block-media-text__media"></figure></div>
<!-- /wp:media-text -->

<!-- wp:media-text {"mediaPosition":"right","mediaType":"image"} -->
<div class="wp-block-media-text has-media-on-the-right is-stacked-on-mobile" id="pizza-section"><div class="wp-block-media-text__content"><!-- wp:heading -->
<h2 class="wp-block-heading">10” Pizza</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":6,"query":{"perPage":10,"pages":0,"offset":0,"postType":"menu-item","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[],"taxQuery":{"menu-category":[5]}},"tagName":"section","layout":{"type":"default"}} -->
<section class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}}} -->
<!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
<article class="wp-block-group"><!-- wp:group {"className":"menu-dotted-row","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group menu-dotted-row"><!-- wp:post-title {"level":3} /-->

<!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"price","fieldSettings":{"type":"number","key":"field_69aaf74ce8c5b"},"prefix":"$","labelAsPrefix":true,"displayLayout":"inline-block","tagName":"span"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"menu-dotted-row","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group menu-dotted-row"><!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"add-on_name","hideEmpty":true,"prefix":"With","displayLayout":"inline-block","tagName":"p"} /-->

<!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"add-on_price","hideEmpty":true,"prefix":"$","displayLayout":"inline-block","tagName":"span"} /--></div>
<!-- /wp:group --></article>
<!-- /wp:group -->
<!-- /wp:post-template --></section>
<!-- /wp:query -->

<!-- wp:paragraph -->
<p><a href="#menu" data-type="internal" data-id="#menu">&lt;-- Back to Menu</a></p>
<!-- /wp:paragraph --></div><figure class="wp-block-media-text__media"></figure></div>
<!-- /wp:media-text --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->