<!-- wp:template-part {"slug":"header","area":"uncategorized"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div id="menu" class="wp-block-group"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Menu</h1>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center","orientation":"horizontal"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:image {"width":"100px","height":"100px","scale":"cover","className":"is-style-default","style":{"border":{"radius":{"topLeft":"100px","topRight":"100px","bottomLeft":"100px","bottomRight":"100px"}}}} -->
<figure class="wp-block-image is-resized has-custom-border is-style-default"><img alt="" style="border-top-left-radius:100px;border-top-right-radius:100px;border-bottom-left-radius:100px;border-bottom-right-radius:100px;object-fit:cover;width:100px;height:100px"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2 class="wp-block-heading"><a href="#breakfast-section" data-type="internal" data-id="#breakfast-section">Breakfast</a></h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:image {"width":"100px","height":"100px","scale":"cover","style":{"border":{"radius":{"topLeft":"100px","topRight":"100px","bottomLeft":"100px","bottomRight":"100px"}}}} -->
<figure class="wp-block-image is-resized has-custom-border"><img alt="" style="border-top-left-radius:100px;border-top-right-radius:100px;border-bottom-left-radius:100px;border-bottom-right-radius:100px;object-fit:cover;width:100px;height:100px"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2 class="wp-block-heading">Appetizers</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:image {"width":"100px","aspectRatio":"1","scale":"cover","style":{"border":{"radius":{"topLeft":"100px","topRight":"100px","bottomLeft":"100px","bottomRight":"100px"}}}} -->
<figure class="wp-block-image is-resized has-custom-border"><img alt="" style="border-top-left-radius:100px;border-top-right-radius:100px;border-bottom-left-radius:100px;border-bottom-right-radius:100px;aspect-ratio:1;object-fit:cover;width:100px"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2 class="wp-block-heading"><a href="#soup&amp;salads-section" data-type="internal" data-id="#soup&amp;salads-section">Soup &amp; Salad</a></h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:image {"width":"100px","aspectRatio":"1","scale":"cover","style":{"border":{"radius":{"topLeft":"100px","topRight":"100px","bottomLeft":"100px","bottomRight":"100px"}}}} -->
<figure class="wp-block-image is-resized has-custom-border"><img alt="" style="border-top-left-radius:100px;border-top-right-radius:100px;border-bottom-left-radius:100px;border-bottom-right-radius:100px;aspect-ratio:1;object-fit:cover;width:100px"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2 class="wp-block-heading">Mains</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:image {"width":"100px","aspectRatio":"1","scale":"cover","style":{"border":{"radius":{"topLeft":"100px","topRight":"100px","bottomLeft":"100px","bottomRight":"100px"}}}} -->
<figure class="wp-block-image is-resized has-custom-border"><img alt="" style="border-top-left-radius:100px;border-top-right-radius:100px;border-bottom-left-radius:100px;border-bottom-right-radius:100px;aspect-ratio:1;object-fit:cover;width:100px"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2 class="wp-block-heading"><a href="#handhelds-section" data-type="internal" data-id="#handhelds-section">Handhelds</a></h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:image {"width":"100px","aspectRatio":"1","scale":"cover","style":{"border":{"radius":{"topLeft":"100px","topRight":"100px","bottomLeft":"100px","bottomRight":"100px"}}}} -->
<figure class="wp-block-image is-resized has-custom-border"><img alt="" style="border-top-left-radius:100px;border-top-right-radius:100px;border-bottom-left-radius:100px;border-bottom-right-radius:100px;aspect-ratio:1;object-fit:cover;width:100px"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2 class="wp-block-heading">10” Pizza</h2>
<!-- /wp:heading --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:cover {"dimRatio":50,"style":{"color":[]},"layout":{"type":"default"}} -->
<div class="wp-block-cover" id="breakfast-section"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"backgroundColor":"black-deep","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-black-deep-background-color has-background"><!-- wp:heading -->
<h2 class="wp-block-heading">Breakfast</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":6,"query":{"perPage":10,"pages":0,"offset":0,"postType":"menu","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[],"taxQuery":{"breakfast":[],"menu-category":[5]}},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}}} -->
<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-title /-->

<!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"price","fieldSettings":{"type":"number","key":"field_69aaf74ce8c5b"}} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:paragraph -->
<p><a href="#menu" data-type="internal" data-id="#menu">&lt;-- Back to Menu</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Appetizers</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":6,"query":{"perPage":10,"pages":0,"offset":0,"postType":"menu","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[],"taxQuery":{"breakfast":[],"menu-category":[6]}},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}}} -->
<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-title /-->

<!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"price","fieldSettings":{"type":"number","key":"field_69aaf74ce8c5b"}} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:paragraph -->
<p><a href="#menu" data-type="internal" data-id="#menu">&lt;-- Back to Menu</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:cover {"dimRatio":50,"style":{"color":[]},"layout":{"type":"default"}} -->
<div class="wp-block-cover" id="soup&amp;salads-section"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"backgroundColor":"black-deep","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-black-deep-background-color has-background"><!-- wp:heading -->
<h2 class="wp-block-heading">Soup &amp; Salads</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":6,"query":{"perPage":10,"pages":0,"offset":0,"postType":"menu","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[],"taxQuery":{"breakfast":[],"menu-category":[7]}},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-title /-->

<!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"price","fieldSettings":{"type":"number","key":"field_69aaf74ce8c5b"}} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:paragraph -->
<p><a href="#menu" data-type="internal" data-id="#menu">&lt;-- Back to Menu</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Mains</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":6,"query":{"perPage":10,"pages":0,"offset":0,"postType":"menu","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[],"taxQuery":{"breakfast":[],"menu-category":[8]}},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-title /-->

<!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"price","fieldSettings":{"type":"number","key":"field_69aaf74ce8c5b"}} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:paragraph -->
<p><a href="#menu" data-type="internal" data-id="#menu">&lt;-- Back to Menu</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:cover {"dimRatio":50,"style":{"color":[]},"layout":{"type":"default"}} -->
<div class="wp-block-cover" id="handhelds-section"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"backgroundColor":"black-deep","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-black-deep-background-color has-background"><!-- wp:heading -->
<h2 class="wp-block-heading">Handhelds</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":6,"query":{"perPage":1,"pages":0,"offset":0,"postType":"menu","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[],"taxQuery":{"breakfast":[],"menu-category":[9]}},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-title /-->

<!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"price","fieldSettings":{"type":"number","key":"field_69aaf74ce8c5b"}} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:paragraph -->
<p><a href="#menu" data-type="internal" data-id="#menu">&lt;-- Back to Menu</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">10” Pizza</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":6,"query":{"perPage":10,"pages":0,"offset":0,"postType":"menu","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[],"taxQuery":{"breakfast":[],"menu-category":[10]}},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-title /-->

<!-- wp:mfb/meta-field-block {"fieldType":"acf","fieldName":"price","fieldSettings":{"type":"number","key":"field_69aaf74ce8c5b"}} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:paragraph -->
<p><a href="#menu" data-type="internal" data-id="#menu">&lt;-- Back to Menu</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->